@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@200;300;400;500;700&display=swap');
:root {
  --accent-color: #f45050;
  --border-radius: 6px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  display: grid;
  place-items: center;
  background-color: #f0f4f8;
}

button {
  all: unset;
  cursor: pointer;
  color: gray;
  font-size: small;
  border-radius: var(--border-radius);
}

.heading {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

.password-section {
  position: relative;
  height: 5em;
  display: grid;
  place-items: center;
  text-align: center;
  width: 100%;
}

.password-section > small {
  color: gray;
  position: absolute;
  top: 1em;
  font-size: x-small;
}

.password-section > button {
  color: gray;
  position: absolute;
  top: 1em;
  right: 1.5em;
  font-size: x-small;
}

#generated-pass {
  all: unset;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.container {
  width: min(80%, 400px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8em;
}

.password-section {
  display: flex;
  padding: 1em 1em;
  border-radius: var(--border-radius);
  background-color: white;
  justify-content: space-between;
}

.password-length {
  display: flex;
  gap: 1em;
  background-color: white;
  padding: 1em 1em;
  border-radius: var(--border-radius);
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  font-size: 0.8em;
  display: flex;
  gap: 1em;
  background-color: white;
  padding: 1em 1em;
  border-radius: var(--border-radius);
}
